menu "TLV493 Options"
    config TLV493_I2C_CLK_SPEED_HZ
        int "I2C Clock Speed (Hz)"
        default 100000
        range 1000 100000
        help
            Set the I2C clock speed in Hz. Only applies to the new I2C Master driver.

    config TLV493_PROBE_TIMEOUT
        int "Probe Timeout"
        default 500
        help
            Number of ticks to wait for I2C probe operation.
        
    config TLV493_TIMEOUT
        int "Read/Write Timeout"
        default 50
        help
            Number of ticks to wait for I2C read/write operations.
endmenu